<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="menu">
                <ul class="ul-menu">
                    <li><a href="{{ path('index') }}">Главная</a></li>
                    <li><a href="{{ path('blog_posts') }}">Посты</a></li>
                    <li><a href="{{ path('register') }}">Регистрация</a></li>
                    <li><a href="{{ path('login') }}">Войти</a></li>
                    <li><a href="{{ path('logout') }}">Выйти</a></li>
                </ul>

            </div>
        </div>
        <div class="wrapper">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
